html {
    background-color: rgb(242, 183, 243);
}
h1 {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(25, 24, 24);
    font-family: 'Century Gothic';
}

h2 {
    font-weight: bold;
    color: black;
    font-family: 'Courier New';
}

h3, th {
    font-weight: bold;
    color: black;
    font-family: 'Courier New';
}

p, td{
    font-size: small;
    line-height: 1.5;
    color: black;
    font-family: 'Courier New';
}
